<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('歌曲代码列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>代码名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>歌曲id：</label>
                                <input type="text" name="songId"/>
                            </li>
                            <li>
                                <label>歌曲播放倍率：</label>
                                <input type="text" name="speed"/>
                            </li>
                            <li>
                                <label>长延迟：</label>
                                <input type="text" name="longTime"/>
                            </li>
                            <li>
                                <label>默认延迟：</label>
                                <input type="text" name="defaultTime"/>
                            </li>
                            <li>
                                <label>短延迟：</label>
                                <input type="text" name="shortTime"/>
                            </li>
                            <li>
                                <label>超短延迟：</label>
                                <input type="text" name="veryShortTime"/>
                            </li>
                            <li>
                                <label>删除时间：</label>
                                <input type="text" class="time-input" placeholder="请选择删除时间" name="deleteTime"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:songCode:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:songCode:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:songCode:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:songCode:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:songCode:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:songCode:remove')}]];
        var prefix = ctx + "system/songCode";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "歌曲代码",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'name',
                    title: '代码名称'
                },
                {
                    field: 'songId',
                    title: '歌曲id'
                },
                {
                    field: 'code',
                    title: '歌曲代码'
                },
                {
                    field: 'codeType',
                    title: '代码类型'
                },
                {
                    field: 'speed',
                    title: '歌曲播放倍率'
                },
                {
                    field: 'longTime',
                    title: '长延迟'
                },
                {
                    field: 'defaultTime',
                    title: '默认延迟'
                },
                {
                    field: 'shortTime',
                    title: '短延迟'
                },
                {
                    field: 'veryShortTime',
                    title: '超短延迟'
                },
                {
                    field: 'deleteTime',
                    title: '删除时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>